<div class="row">
        <div class="large-6 columns">
            <div class="box bg-black">

                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title">
                        <i class="text-white fontello-folder"></i>
                        <span>Gebruikergegevens</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="large-12 box-body " style="display: inline-block;">
                    <div class="large-6 columns text-white">
                    <strong>Naam:</strong> {{userDetails.fname}}<br>
                    <strong>Achternaam:</strong> {{userDetails.lname}}
                    </div>
                    <div class="large-6 columns text-white">
                        <strong>Uurloon:</strong> &euro; {{userDetails.hourrate}}<br>
                    </div>

                </div>
                <!-- end .timeline -->
            </div>

            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title"><i class="icon-view-list"></i>
                        <span>Laatste werkzaamheden <small>van {{userDetail.fname}} {{userDetail.lname}}</small></span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;">
                    <div class="events-nest">
                        <ul>

                            <li ng-repeat="x in declaration_items | limitTo: 5">
                                <h4><img alt="" class="admin-pic img-circle" src="img/denizkoker.png" style="margin: 20px 0px 0px 20px;"><small><span class=""><a href="#/cases/{{x.case_id}}">{{x.casename}} </span></a></small>
                                </h4>
                                <p>{{x.declaration_name}} <small>{{x.company}}</small>
                                <span class="right text-right" style="font-size: 9px;">{{x.time}}min<br>&euro; {{x.amount}}</span><!-- <i class="icon-download"></i><i class="  icon-document-new"></i><i class="icon-heart"></i> -->
                                </p>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            
            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title">
                        <i class="fontello-folder"></i>
                        <span>Dossiers<small> aangemaakt door {{userDetail.fname}} {{userDetail.lname}}</small></span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div style="display: inline-block; width: 100%;" >
                    <div class="large-12 columns">
                        <table class="table table-striped no-border">
                            <tr>
                                <th>
                                    Klant
                                </th>
                                <th>
                                    Zaak
                                </th>
                                <th>
                                    Datum-Tijd
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr ng-repeat="case in customerCases">
                                <td><a href="#/customers/{{case.id}}">{{case.fname}} {{case.lname}}</a></td>
                                <td>{{case.casename}}</td>
                                <td>{{case.create_date}}</td>
                                <td><a href="#/cases/{{case.case_id}}" class="tiny radius button bg-light-green">Bekijk</a></td>
                            </tr>
                            <tr ng-show="!customerCases.length"><td colspan="4" class="text-center">Geen zaken</td></tr>
                           
                        </table>
                    </div>
                </div>
                <!-- end .timeline -->
            </div>
        </div>
        <!-- zaak aanmaken -->

        <div class="large-6 columns">
          <div class="box">
                <div class="box-header bg-brown ">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title text-white"><i class="icon-view-list"></i>
                        <span class="text-white">Interne Notities  - Niet gelezen<small></small></span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="internnotes" style="display: block;">
                    <div class="events-nest">
                        <ul>

                            <li ng-repeat="x in notes">
                                <a ng-click="markasRead(x.id)" alt="markeer als gelezen" class="text-blue fontello-record right"></a>
                                <h4><img alt="" class="admin-pic img-circle" src="img/denizkoker.png" style="margin: 20px 0px 0px 20px;"><small><span class=""><a href="#/cases/{{x.case_id}}">{{x.casename}} </span></a></small>
                                </h4>
                                <p>
                                {{x.content}}
                                <span class="clear"><small>{{x.from_fname}} {{x.from_lname}} >> {{x.to_fname}} {{x.to_lname}}</small></span></p>
                            </li>
                        </ul>
                        <button class="bg-brown expand small-text-center"><a href="#/account/notifications" class="text-white"> <small>Bekijk all je notities</small></a></button>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>

           
            <!-- box -->
        </div>

         <!-- Zaken -->
        <div class="large-6 columns">
            <!-- box -->
            
        </div>
        <!-- Zaken -->

        <!-- Laatste Werkzaamheden -->
        <div class="large-6 columns">
            <!-- timeline item -->
            
        </div>
        <!-- Laatste Werkzaamheden -->

         <!-- Notities -->
        <div class="large-6 columns">
            <!-- timeline item -->
          
        </div>
        <!-- Notities -->
<div>