<!-- <div class="row" style="margin-top:-20px">


  <input type="text" class="form-control" ng-model="query" ng-change="updateFilteredList()">

  <table class="table table-striped" at-paginate at-table at-list="filteredList" at-config="config">
  <thead>
    </thead>
  <tbody>
    <tr>
      <td at-implicit at-attribute="fname" at-sortable></td>
      <td at-implicit at-attribute="lname" at-sortable></td>
      <td at-implicit at-attribute="company" at-sortable></td>
      <td at-implicit at-attribute="rdate" at-sortable></td>
    </tr>
  </tbody>
</table>
<at-pagination at-list="filteredList" at-config="config"></at-pagination>

</div> -->

  <div class="large-10 columns no-padding"><input type="text" class="form-control" ng-model="query" ng-change="updateFilteredList()" placeholder="Zoeken"></div>
   <div class="large-2 columns ">
      <a class="tiny button bg-green small-text" href="#/customers/add/customer"> <i class="fontello-user-add-outline tooltipstered"></i> Klant Aanmaken</a></div>
  <table class="table table-striped table-bordered"
  at-table at-paginate at-list="filteredList">
  <thead></thead>
  <tbody>
    <tr>
      <td at-title="Name">
        <a href="#/customers/{{filteredList[$index].id}}">{{filteredList[$index].fname}} {{filteredList[$index].lname}} <span ng-if="filteredList[$index].company">- {{filteredList[$index].company}}</span></a>
      </td>
      <td at-title="Telefoon">
        {{filteredList[$index].tel}}<span ng-if='filteredList[$index].alt_tel'> - </span>{{filteredList[$index].alt_tel}}
      </td>
      <td at-title="Bekijk">
       <a class='button tiny radius bg-green' href="#/customers/{{filteredList[$index].id}}">Bekijk</a>
        
      </td>
    </tr>
  </tbody>
</table>
<at-pagination at-list="filteredList" at-config="config"></at-pagination>

