  <!-- Container Begin -->
    <div class="row" style="margin-top:-20px">

        <!-- customerinfo -->
        <div class="large-6 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title"><i class="fa fa-users"></i>
                        <span>Cli&euml;ntegegevens</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body " style="display: inline-block;" >
                    <div class="large-12 columns">
                    <div class="large-12 columns">
                            <h6>Algemeen</h6>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Bedrijf:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.company}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails">
                             <input type="text" ng-model="customerDetails.company"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Voornaam:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.fname}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.fname"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Achternaam:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.lname}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.lname"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Tel:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.tel}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.tel"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Tel </strong>(alternatief): </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.alt_tel}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.alt_tel"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Email:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails"><a href="mailto:{{customerDetails.email}}">{{customerDetails.email}}</a></div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.email"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Email(optioneel):</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails"><a href="mailto:{{customerDetails.alt_email}}">{{customerDetails.alt_email}}</a></div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.alt_email"></div>
                        </div>
                        <div class="large-12 columns">
                            <br>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Branche:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.branche}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.branche"></div>
                        </div>
                        <div class="large-12 columns">
                            <br>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>BTW:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.btwnr}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.btwnr"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>KvK:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.kvk}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails">
                             <input type="text" ng-model="customerDetails.kvk"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Banknr:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.banknr}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.banknr"></div>
                        </div>
                         <div class="large-12 columns">
                            <br>
                            <h6>Adres</h6>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Straat + huisnr:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.address}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.address"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Postcode:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.zipcode}} {{customerDetails.city}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails">
                             <input type="text" ng-model="customerDetails.zipcode">
                             <input type="text" ng-model="customerDetails.city"></div>
                        </div>
                        <div class="large-12 columns">
                            <br>
                            <h6>Correspondentieadress</h6>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Straat + huisnr:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.cor_address}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails"><input type="text" ng-model="customerDetails.cor_address"></div>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Postcode:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.cor_zipcode}} {{customerDetails.cor_city}}</div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails">
                             <input type="text" ng-model="customerDetails.cor_zipcode">
                             <input type="text" ng-model="customerDetails.cor_city"></div>
                        </div>
                        <div class="large-12 columns">
                            <br>
                            <h6>Opmerking</h6>
                        </div>
                        <div class="large-12 columns">
                            <div class="large-6 columns"><strong>Opmerking:</strong> </div>
                             <div class="large-6 columns" ng-show="editCustomerDetails">{{customerDetails.comment}}
                             </div>
                             <div class="large-6 columns" ng-show="!editCustomerDetails">
                                <textarea ng-model='customerDetails.comment'></textarea>
                             </div>
                        </div>
                        <div class="large-12 columns">
                            <span class="box-btn" data-widget="collapse">
                                <a ng-show="editCustomerDetails"  ng-click="editCustomer()" class="tiny radius button bg-yellow right">Bewerk</a>
                            </span>
                            <span class="box-btn" data-widget="collapse">
                                <a ng-show="!editCustomerDetails"  ng-click="cancelCustomer()" class="tiny radius button bg-red right">Cancel</a>
                            </span>
                            <span class="box-btn" data-widget="collapse">
                                <a ng-show="!editCustomerDetails"  ng-click="saveCustomer()" class="tiny radius button bg-green right">Opslaan</a>
                            </span>
                        </div>
                    </div>
                </div>


                <!-- end .timeline -->
            </div>
        </div>
        <!-- customerinfo -->

        <!-- betaalde facturen -->
        <div class="large-6 columns">
            <div class="box">
                <div class="your-account">
                    <div class="row">
                        <div class="medium-3 columns">
                            <!-- <div class="circle-progress"></div> -->
                            <small class="text-centre"><strong>Betaalde facturen</strong></small>
                            <div class="circlestat circliful" data-dimension="90" data-width="8" data-fontsize="16" data-fgcolor="#222" data-border="5" data-bgcolor="#D5DAE6" data-fill="#FFF" style="width: 90px;"></div>
                        </div>
                        <div class="medium-9 columns ">
                            <div style="margin:0 10px;padding:0 0 0 20px" class="summary-border-left">
                                <h4>Financieel</h4>
                               <!--  <ul>
                                    <li class="label round bg-green"><a href="#"><i class="text-white fontello-location"></i></a>
                                    </li>
                                    <li class="label round bg-green"><a href="#"><i class="text-white fontello-user-add"></i></a>
                                    </li>
                                    <li class="label round bg-green"><a href="#"><i class="text-white fontello-loop"></i></a>
                                    </li>
                                </ul> -->
                                <table class='large-12'>
                                    <tr>
                                        <th>Totaal Facturen</th>
                                        <th>Betaald</th>
                                        <th>Totaal Declaraties</th>
                                        <th>Totaal Uren</th>
                                    </tr>
                                    <tr>
                                        <td>&euro; {{customerDetails.financial_info.total_invoice}}</td>
                                        <td>&euro; {{customerDetails.financial_info.total_payed}}</td>
                                        <td>&euro; {{customerDetails.financial_info.total_declarations}}</td>
                                        <td>{{customerDetails.financial_info.total_time / 60 | number:1}}uur <small>({{customerDetails.financial_info.total_time}}min)</small></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="large-6 columns">
            <!-- timeline item -->
            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title"><i class="fa fa-refresh" aria-hidden="true"></i>
                        <span>Abonnementen</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;">
                <h6><small>Bekijk <strong>abonnement</strong> van Cliënt</small></h6>
                    <div class="events-nest" style='overflow: hidden;'>
                        <ul>

                            <li ng-repeat="x in subscriptions" class="subscription_item">
                                <h4><small><a href="#/customers/{{x.customer_id}}">{{x.fname}} {{x.lname}} </span> - </a> 
                                <em>{{x.company}}</em></small> <span class="expired_subsciption" style="color: #F20556;" ng-if="x.diffDate <= 0">VERLOPEN</span>
                                <a class='radius tiny bg-red removeSubscription right' ng-click='remove_subscription(x.sub_id, $index)'><i class='fontello-cancel'></i> Verwijder</a>
                                </h4>
                                <p><small>{{x.minutes_used}}</small>/{{x.minutes}} <small>Minuten Verbruikt</small>
                                <span class="right text-right">&euro; {{x.amount}}<br>
                                    <span class="right text-right" style="font-size: 9px; color: white; padding: 1px 6px;
        border-radius: 3px;background-color: {{colorGenerator(x.diffDate)}}">{{x.diffDate}} Dagen verlopen</span><!-- <i class="icon-download"></i><i class="  icon-document-new"></i><i class="icon-heart"></i> -->                    </span>
                                <div class="progress small radius" style="padding: 0px; margin: 0px; background: #daecec;">
                                    <span class="meter bg-light-green" style="width:{{x.minutes_used / x.minutes * 100 }}%; top: 0;left: 0;"><small>Verbruik</small></span>
                                </div>
                                </p>

                            </li>
                        </ul>
                        <div style='overflow: hidden;'>
                            <button ng-show="!add_subscription_panel" ng-class='add_subscription_panel == true ? "slideOutUp" : "slideInDown" ' class="button expand bg-green slideInDown animated" ng-click="add_subscription($event)">Abonnement toevoegen <i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                        <div style='overflow: hidden'>
                            <div ng-show="add_subscription_panel" ng-class='add_subscription_panel == true ? "slideInDown" : "slideOutUp" ' class=" animated panel row " style="background-color: #f7f7f7;">
                                <h3 class='text-center'>Abonnement Toevoegen</h3>
                                <div class='row'>
                                <div class="large-6 columns">
                                    <label>Uren <small class="right">{{subscription.minutes}} minutes</small></label>
                                    <input type="number" ng-model="subscription.hours"> 
                                    
                                    <ul>
                                        <li class="label round bg-green"><a ng-click="addHours(1)"><i class="text-white fontello-clock">+1uur</i></a>
                                        </li>
                                        <li class="label round bg-green"><a ng-click="addHours(5)"><i class="text-white fontello-clock">+5uur</i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="large-6 columns">
                                    <label>Bedrag
                                    <input type="text" ng-model="subscription.amount">
                                    </label>
                                </div>
                                </div>
                                <div class='row'>
                                <div class="large-6 columns">
                                    <label>Start Datum
                                    <input type="datetime" date-time min-view="date" auto-close="true"
            view="date" maxlength="10" placeholder="Set Date" format="DD-MM-YYYY" ng-model='$parent.start_date'>

                                <!-- <input type="text" id="datetimepicker" ng-model="subscription.start_date" placeholder="jjjj-mm-dd"> -->
                                    </label>
                                </div>
                                <div class="large-6 columns">
                                    <label>Eind Datum
                                    <!-- <input type="text" ng-model="subscription.end_date" placeholder="jjjj-mm-dd"> -->
                                    <input type="datetime" date-time min-view="date" auto-close="true"
                view="date" maxlength="10" placeholder="Set Date" format="DD-MM-YYYY" ng-model='$parent.end_date'>
                                    </label>
                                </div>
                                </div>
                                <div class="right">
                                    <button class="bg-green tiny radius" ng-click="save_subscription()">Opslaan</button>
                                    <button class="bg-red tiny radius" ng-click="cancel_subscription()  ">Annuleer</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <!-- betaalde facturen -->

        <!-- widgets -->
        <div class="large-3 columns">
            <div class="bg-complete-profile">
                <a href="#/declarations">
                <span class="bg-green fontello-stopwatch"></span>
                <!--   <img src="img/bag.png"> -->
                <h6 class="bg-black text-white"><strong>Urenregistratie</strong></h6>
                </a>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="bg-complete-profile">
                <a href="#/invoices/">
                <span class="bg-green fontello-wallet"></span>
                <!--   <img src="img/bag.png"> -->
                <h6 class="bg-black text-white"><strong>Facturen</strong></h6>
                </a>
            </div>
        </div>
        <!-- widgets -->

        <!-- Zaken -->
        <div class="large-6 columns">
            <!-- box -->
            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title">
                        <i class="fontello-folder"></i>
                        <span>Zaken</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div style="display: inline-block; width: 100%;" >
                    <div class="large-12 columns">
                        <table class="table table-striped no-border">
                            <tr>
                                <th>
                                    Advocaat
                                </th>
                                <th>
                                    Zaak
                                </th>
                                <th>
                                    Datum-Tijd
                                </th>
                                <th>
                                </th>
                            </tr>
                            <tr ng-repeat="case in customerCases">
                                <td>{{case.lawyerfname}} {{case.lawyerlname}}</td>
                                <td>{{case.casename}}</td>
                                <td>{{case.create_date}}</td>
                                <td><a href="#/cases/{{case.id}}" class="tiny radius button bg-light-green">Bekijk</a></td>
                            </tr>
                            <tr ng-show="!customerCases.length"><td colspan="4" class="text-center">Geen zaken</td></tr>
                           
                        </table>
                        <a href="#/customers/{{customerId}}/create/" class="button expand bg-red">Nieuw zaak aanmaken</a>
                    </div>
                </div>
                <!-- end .timeline -->
            </div>
        </div>
        <!-- Zaken -->

        <!-- logboek -->
       <!--  <div class="large-6 columns">
            <div class="box">
                <div class="box-header bg-transparent">

                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title"><i class="fontello-user"></i>
                        <span>Logboek</span>
                    </h3>
                </div>

                <div class="box-body " style="display: inline-block; width: 100%;" >
                <table class="table table-striped no-border">
                            <tr>
                                <th>
                                    Gebruiker
                                </th>
                                <th>
                                    Datum-Tijd
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Deniz Koker
                                </td>
                                <td>
                                    27-12-2014 18:00:23
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Kubilay Akturk
                                </td>
                                <td>
                                    26-12-2014 18:00:23
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Deniz Koker
                                </td>
                                <td>
                                    26-12-2014 18:00:23
                                </td>
                            </tr>
                        </table>
                    
 
                </div>


            </div>
        </div> -->
        <!-- logboek -->



         <!-- Klant creatie en mutatiedatum -->
        <div class="large-12 columns text-right">
        Creatiedatum: {{customerDetails.date_add}}
        Mutatiedatum: {{customerDetails.date_mutation}}    
        </div>
        <!-- Klant creatie en mutatiedatum -->
    </div>
    <!-- End of Container Begin -->