
<ul class="tabs" data-tab="" id="responsiveTabsDemo">
    <li class="tab-title" ng-class="{'active' : webTabs[0]}"><a ng-click="tabs(0)">Declaraties</a>
    </li>
    <li class="tab-title" ng-class="{'active' : webTabs[1]}"><a ng-click="tabs(1)">Facturen huidige zaak</a>
    </li>
    <li class="tab-title" ng-class="{'active' : webTabs[2]}"><a ng-click="tabs(2)">Gedeclareerde uren</a>
    </li>
    <li class="tab-title" ng-class="{'active' : webTabs[3]}"><a ng-click="tabs(3)">Uitgaven</a>
    </li>
</ul> 
<div class="tabs-content edumix-tab-horz">
   
    <div class="content" ng-class="{'active' : webTabs[0]}" id="panel1">
    <h2>Niet gedeclareerde uren</h2>
    <div class="clearfix">
      <div class="large-6 columns panel">

        <div class="small-text"><strong>Selecteer Periode</strong></div>
      
        <div class="large-4 columns">
        <label>Van</label>
        <input type="datetime" date-time min-view="date" auto-close="true"
        view="date" maxlength="10" placeholder="Set Date" format="DD-MM-YYYY" ng-model='$parent.start_date'>
        </div>

        <div class="large-4 columns">
        
        <label>Tot</label>
        <input type="datetime" date-time min-view="date" auto-close="true"
        view="date" maxlength="10" placeholder="Set Date" format="DD-MM-YYYY" ng-model='$parent.end_date'>

        </div>

        <div class="large-4 columns">

          <button class="tiny" ng-click="submitDate()">Verstuur</button>

        </div>
      
      </div>
      <div class="large-6 columns">
        <!-- <div class="large-12 columns panel">
        <div class="small-text"><strong>Zoeken</strong></div>
        <div class="large-12 columns">
          Zoeken door alle velden
          <input type="text" class="form-control ng-valid ng-dirty" ng-model="query" ng-change="updateFilteredList()" placeholder='Advocaat, Declaratietype, bedrag, minuten enz'>
        </div>
        </div> -->
      </div>

    </div>
        <div class="left">
            <button class="tiny radius" ng-click="selectAll()">Selecteerd alles</button> 
            <button class="tiny radius" ng-click="deselectAll()">Deselecteerd alles</button> 
            <button class="tiny button bg-light-green radius" ng-click="downloadPDF()">Tussentijdse PDF</button>
            <button class="tiny button bg-light-green radius" ng-click="openInvoiceModal()">Maak Factuur PDF</button>
          

        </div>

        <div class="right text-right">
        Totale bedrag Excl.BTW : &euro; {{totalAmountDec}}<br>
        Totale tijd: {{totalTimeDec}}min<br>
        <div ng-repeat="x in subscription_time">Abonnement verbr.: {{x.minutes_used}}/{{x.minutes}} minuten<br>
        </div>
        </div>
  <table class="table table-striped table-bordered">
  
  <thead>
    <td>Select</td>
    <td>id</td>
    <td>datum</td>
    <td>Dossiernaam</td>
    <td>Advocaat</td>
    <td>Declaratienaam</td>
    <td>Info</td>
    <td><i class="fontello-clock"></i> Tijd</td>
    <td>Bedrag</td>
    <!-- <td>Actie</td> -->
    <td>Bewerk</td>
  </thead>

  <tbody>
      <tr ng-repeat="(k,x) in declarationDetail | orderObjectBy:x.time track by $index ">

      <td>
        <label id="{{x.id}}"></label>
        <input name="{{x.id}}" value="{{x.id}}" type="checkbox" ng-checked="x.selected" ng-click="toggleSelection(x.id)">
      </td>
        <td>
        {{x.id}}
      </td>
      <td>
        {{changeDateFormat(x.declaration_date)}}
      </td>
      <td>
        {{x.casename}}
      </td>
      <td>
        {{x.fname}} {{x.lname}}
      </td>
      <td>
        {{x.declaration_name}} 
      </td>
      <td>
        {{x.comment}} 
      </td>
      <td>
        <span><i class="fontello-clock"></i> {{x.time}}</span>
      </td>
      <td>
        <span>&euro; {{x.amount}}</span>
      </td>
      <!-- <td ng-bind-html='statusCheck(x.invoiced)'></td> -->
        
      </td>
      <td>
        <button class='tiny radius bg-green' ng-click='editDeclaration($index)'><i class="fontello-edit"></i></button>
        <button class='tiny radius bg-red' ng-click='removeDeclaration($index)'><i class="fontello-cancel"></i></button>
      </td>
    </tr>

  </tbody>

</table>

<at-pagination at-list="filteredList" at-config="config"></at-pagination>
<!-- <button ng-click="downloadPDF()">Download PDF</button> <button ng-click="createInvoice()">Selectallfunction</button> -->
    </div>
    

    <div class="content" ng-class="{'active' : webTabs[1]}" id="panel3">
        <h2>Facturen Huidige zaak</h2>
        <div ng-include src="'/partials/invoices.html'"></div>
    </div>
    <div class="content" ng-class="{'active' : webTabs[2]}" id="panel2">
      
      <h2>Gedeclareerde Uren</h2>

      <div class="large-12 columns">
      <table class="table table-striped table-bordered">
  
        <thead>
          <td>id</td>
          <td>datum</td>
          <td>Dossiernaam</td>
          <td>Advocaat</td>
          <td>Declaratienaam</td>
          <td>Info</td>
          <td><i class="fontello-clock"></i> Tijd</td>
          <td>Bedrag</td>
          <td>FactuurId</td>
        </thead>

        <tbody>

          <tr ng-repeat="(k,x) in InvoicedDeclarations.rows">
            <td>
              {{x.id}}
            </td>
            <td>
              {{x.declaration_date}}
            </td>
            <td>
              {{x.casename}}
            </td>
            <td>
              {{x.fname}} {{x.lname}}
            </td>
            <td>
              {{x.declaration_name}} 
            </td>
            <td>
              {{x.comment}} 
            </td>
            <td>
              <span><i class="fontello-clock"></i> {{x.time}}</span>
            </td>
            <td>
              <span>&euro; {{x.amount}}</span>
            </td>
            <td>{{x.invoiced}}</td>
              
            </td>
          </tr>

        </tbody>

      </table>
         
      </div>

        
    </div>
    <div class="content" ng-class="{'active' : webTabs[3]}" id="panel4">
          <div ng-include src="'partials/declarations/declaration_credits_details.html'"></div>
    </div>
</div>


<div ng-if="invoiceModal" id="firstModal" class="reveal-modal open animate-if" style="display: block; visibility: visible; position: fixed;">
    <h2>Factuur Gegevens</h2>
    <p>
        <label>FactuurID</label>
        <input name="firstPassword" ng-class="password.firstPasswordError" class="small-6 columns" type="text" ng-model="invoiceInfo.invoiceId"/>
    </p>
    <p>
        <label>Korting</label>
          
          <input type="radio" ng-model="invoiceInfo.discountType" value="none">
          Geen

          <input type="radio" ng-model="invoiceInfo.discountType" value="percentage">
          Percentage
        
        
          <input type="radio" ng-model="invoiceInfo.discountType" value="bedrag">
          Vast bedrag
       
    </p>
    <p ng-show="invoiceInfo.discountType != 'none'">
      <label>Korting {{invoiceInfo.discountType}}</label>
      <input name="firstPassword" ng-class="invoiceInfo.discountAmount" class="small-6 columns" type="number" ng-model="invoiceInfo.discountAmount"/>

    </p>
    <!-- <p>Let op! <small>Geef uw wachtwoord nooit aan anderen.</small></p> -->
    <p><a ng-click="createInvoice()" class="secondary button bg-green">Download</a>
    </p>
    <a ng-click="closeInvoiceModal()" class="close-reveal-modal">&#215;</a>
</div>

<div ng-if="declarationChange.modal" id="firstModal" class="reveal-modal open animate-if" style="display: block; visibility: visible; position: fixed;">
    <h2>Wijzig Declaratie met ID {{declarationChange.array.id}}</h2>

    <p ng-repeat='x in declarationChange.array'></p>
    <div class="small-6 columns">
        <label>Datum</label>
        <input name="firstPassword" class="small-6 columns" type="text" ng-model="declarationChange.array.declaration_date"/>
    </div>
    <div class="small-6 columns">
        <label>Info</label>
        <input name="firstPassword" class="small-6 columns" type="text" ng-model="declarationChange.array.comment"/>
    </div>
    <div class="small-6 columns">
        <label>Tijd</label>
        <input name="firstPassword" class="small-6 columns" type="text" ng-model="declarationChange.array.time"/>
    </div>
    <div class="small-6 columns">
        <label>Bedrag</label>
        <input name="firstPassword" class="small-6 columns" type="text" ng-model="declarationChange.array.amount"/>
    </div>
    
    
    <p><a ng-click="saveEditDeclaration()" class="secondary button bg-green">Declaratie Opslaan</a>
    </p>
    <a ng-click="declarationChange.modal = false" class="close-reveal-modal">&#215;</a>
</div>




