<div class="row">
<div class="large-12 columns">
        <!-- timeline item -->
        <div class="box">
            <div class="box-header bg-transparent">
                <!-- tools box -->
                <div class="pull-right box-tools">

                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="fa fa-refresh" aria-hidden="true"></i>
                    <span>Abonnementen</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="events-nest">
                    <ul>

                        <li ng-repeat="x in subscriptions">
                            <h4><small><a href="#/customers/{{x.customer_id}}">{{x.fname}} {{x.lname}} </span> - </a> 
                            <em>{{x.company}}</em></small>
                            </h4>
                            <p><small>{{x.minutes_used}}</small>/{{x.minutes}} <small>Minuten Verbruikt</small>
                            <span class="right text-right">&euro; {{x.amount}}<br>
                                <span class="right text-right" style="font-size: 9px; color: white; padding: 1px 6px;
    border-radius: 3px;background-color: {{colorGenerator(x.diffDate)}}">{{x.diffDate}} Dagen verlopen</span><!-- <i class="icon-download"></i><i class="  icon-document-new"></i><i class="icon-heart"></i> -->                    </span>
                            <div class="progress small radius" style="padding: 0px; margin: 0px;">
                                <span class="meter bg-light-green" style="width:{{x.minutes_used / x.minutes * 100 }}%; top: 0;left: 0;"><small>Verbruik</small></span>
                            </div>
                            </p>

                        </li>
                    </ul>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    </div>